<li class="one-country-card">
  <h2 class="country-title">{{name.common}}</h2>
  <div class="country-info-wrap">
    <div class="country-info">
      <p> <span class="country-info-caption">Capital:</span> {{capital}}</p>
      <p> <span class="country-info-caption">Population:</span> {{population}}</p>
      <p> <span class="country-info-caption">Languagues:</span> </p>
      <ul>
        {{#each languages}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <img src="{{flags.png}}" alt="{{name}}" class="flag">
  </div>
</li>